body {
  background-color: #eaf2ff;
  text-align: center;

}

#betting {
  text-align: center;
  margin-top: 20px;
}

#bet-amt {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}

#bet-amt input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100px;
}

#all-in, #deal {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#all-in:hover, #deal:hover {
  background-color: #45a049;
}

#deal[disabled="true"] {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

#play-again {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#play-again:hover {
  background-color: #0056b3;
}

#hit-stay-buttons {
  text-align: center;
  margin-top: 20px;
}

#hit-stay-buttons button {
  padding: 12px 24px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#hit-stay-buttons button:hover {
  background-color: #0056b3;
}

#hit-stay-buttons button:active {
  background-color: #003366;
}

#hit-stay-buttons button:focus {
  outline: none;
}